.rbc-calendar .rbc-event {
  height: 52px;
  background: transparent;
}
.rbc-calendar .rbc-addons-dnd-resize-ew-anchor {
  top: 40%;
}
.rbc-calendar .rbc-off-range-bg {
  background: hsl(var(--muted)) !important;
}
.rbc-calendar .rbc-header {
  border: 1px solid hsl(var(--border));
}
.rbc-calendar .rbc-month-view .rbc-month-row {
  border-top: 1px solid hsl(var(--border));
}
.rbc-calendar .rbc-month-view {
  border: 1px solid hsl(var(--border));
}
.rbc-calendar .rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid hsl(var(--border));
}
.rbc-calendar .rbc-show-more {
  margin-top: 5px;
  background: transparent;
  color: hsl(var(--primary));
}
.rbc-calendar .rbc-selected-cell {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cccccc' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
